#![allow(dead_code)]
/// reference: {{ url | safe }}
pub struct Solution;



#[cfg(test)]
mod tests {
    #![allow(unused_imports)]
    use super::*;

    #[test]
    fn test_1() {
        assert_eq!(true, true);
    }
}
